.intro-banner {
    height: 170px;
    background: url("https://www.vinmec.com/static/build/72e582948494501bbab89a19ee739402.jpg") no-repeat 50% 50%/cover;
    margin-top: 24px;
}
.intro-banner .banner-top {
    position: relative;
    padding: 24px 0 24px 0;
}
.intro-banner .banner-top img {
    position: absolute;
    top: 33px;
    width: 163px;
    height: 163px;
}
.intro-banner .banner-top .info-intro .top-breadcrumb {
    margin-left: 180px;
    margin-top: 24px;
}
.intro-banner .banner-top .info-intro .top-breadcrumb span {
    color: #8e8e8e;
    font-size: 18px;
    font-weight: 700;
}
.intro-banner .appointment {
    width: 100%;
    background-color: #ffffff;
}
.intro-banner .appointment .wrap-column {
    padding: 11px 0 11px 0;
}
.intro-banner .appointment .column {
    width: 15.6%;
}
.intro-banner .appointment .column2 {
    width: 10%;
}
.intro-banner .appointment .detail {
    float: right;
}
.intro-banner .appointment .detail span {
    font-size: 18px;
    text-transform: uppercase;
}

.body-content {
    margin-top: 57px;
}
.body-content i {
    color: #ff749c;
}
.body-content i.link-article {
    color: #286ba6;
}
.body-content .header {
    padding-bottom: 7px;
    color: #9b9b9b;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}
.body-content p.bold-text {
    font-size: 20px;
    font-weight: 700;
    color: #4a4a4a;
}
.body-content .intro, .body-content .doc-position, .body-content .workplace, .body-content .experience, .body-content .awards, .body-content .works-books, .body-content .related-articles, .body-content .speciality,
.body-content .service, .body-content .education, .body-content .member, .body-content .language {
    padding: 0;
    border: 1px #e1e3e6 solid;
    border-radius: 4px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.body-content .intro .header, .body-content .doc-position .header, .body-content .workplace .header, .body-content .experience .header, .body-content .awards .header, .body-content .works-books .header, .body-content .related-articles .header, .body-content .speciality .header,
.body-content .service .header, .body-content .education .header, .body-content .member .header, .body-content .language .header {
    padding: 15px 10px 15px 10px;
}
.body-content .intro .header:hover, .body-content .doc-position .header:hover, .body-content .workplace .header:hover, .body-content .experience .header:hover, .body-content .awards .header:hover, .body-content .works-books .header:hover, .body-content .related-articles .header:hover, .body-content .speciality .header:hover,
.body-content .service .header:hover, .body-content .education .header:hover, .body-content .member .header:hover, .body-content .language .header:hover {
    cursor: pointer;
}
.body-content .intro .wrapper-div, .body-content .doc-position .wrapper-div, .body-content .workplace .wrapper-div, .body-content .experience .wrapper-div, .body-content .awards .wrapper-div, .body-content .works-books .wrapper-div, .body-content .related-articles .wrapper-div, .body-content .speciality .wrapper-div,
.body-content .service .wrapper-div, .body-content .education .wrapper-div, .body-content .member .wrapper-div, .body-content .language .wrapper-div {
    border-top: 1px #e1e3e6 solid;
}
.body-content .distance {
    margin-bottom: 23px;
}
.body-content .intro {
    border: 1px #e1e3e6 solid;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.body-content .intro .header-intro {
    padding: 15px 10px 15px 10px;
}
.body-content .intro .wrapper-div {
    border-top: 1px #e1e3e6 solid;
}
.body-content .intro .intro-content p {
    color: #4a4a4a;
    font-size: 18px;
}
.body-content .intro .intro-content a {
    text-decoration: none;
    font-size: 18px;
}
.body-content .intro .intro-content a:hover {
    text-decoration: underline;
}
.body-content .center-info .workplace .workplace-body a img {
    overflow: hidden;
    float: left;
    width: 17%;
}
.body-content .center-info .workplace .workplace-body a span {
    width: 80%;
    float: right;
    display: block;
    color: #4a4a4a;
    text-decoration: none;
    font-weight: 700;
}
.body-content .center-info .experience .ex-body ul {
    list-style: none;
}
.body-content .center-info .experience .ex-body ul li {
    font-size: 18px;
    color: #4a4a4a;
    font-weight: 600;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0;
}
.body-content .center-info .experience .ex-body ul li:last-child {
    border-bottom: none;
}

.sticky-icon {
    position: fixed;
    bottom: 15px;
    left: 10px;
}
.sticky-icon .phone-icon {
    margin-left: 22px;
    background-color: #337ab7;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.sticky-icon .phone-icon .phone {
    top: 16px;
    left: 13px;
    padding: 14px;
}
.sticky-icon .message-icon {
    position: fixed;
    bottom: 15px;
    right: -666px;
}
.sticky-icon .message-icon img {
    width: 10%;
    border-radius: 50%;
}