body {
  margin: 0;
}

.page-name {
  background: #f9f9f9 url("https://www.vinmec.com/static/build/0f1cd5e6980102be74432000ffae6c4a.jpg") no-repeat 100% 80%/auto 300px;
}
.page-name h4 {
  font-family: Helvetica, Arial, san-serif;
  font-size: 14px;
  font-weight: 300;
  color: #777;
}
.page-name h1 {
  font-family: Helvetica, Arial, san-serif;
  font-weight: 500;
}
.page-name span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #0066a6;
}
.page-name .title-part {
  padding: 30px 0 35px 0;
}

.filter-doctor .body-row {
  padding-left: 0;
  margin-top: 20px;
}
.filter-doctor .body-row .filter-button {
  margin-bottom: 22px;
}
.filter-doctor .body-row .filter-button a {
  position: relative;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #777;
  display: inline-block;
  font-size: 14px;
  padding: 6px 24px 5px;
}
.filter-doctor .body-row .filter-button a:hover ul {
  display: block;
}
.filter-doctor .body-row .filter-button a ul {
  list-style: none;
  background-color: #f3f7fb;
  font-family: Helvetica, Arial, san-serif;
  display: none;
  position: absolute;
  z-index: 10;
  min-width: 730px;
}
.filter-doctor .body-row .filter-button a ul .shorter-ul {
  min-width: 540px;
}
.filter-doctor .body-row .filter-button a ul li {
  display: inline-block;
  padding: 0;
}
.filter-doctor .body-row .filter-button a ul li input {
  width: auto;
  height: 13px;
  float: right;
  margin-top: 2px;
  margin-right: 66px;
}
.filter-doctor .body-row .filter-button-submit .button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
}
.filter-doctor .body-row .doctor-area {
  margin-top: 17px;
}
.filter-doctor .body-row .doctor-area .doctor-detail {
  padding: 15px 0 15px 0;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doctor-card {
  padding: 19px;
  margin: 0;
  border-bottom: 1px solid #eee;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doctor-card:hover {
  border: 1px solid #eee;
}
.filter-doctor .body-row .doctor-area .doctor-detail .media a img {
  width: 100%;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-info a {
  color: #0066a6 !important;
  text-decoration: none;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-info a h2 {
  color: #0066a6 !important;
  font-size: 24px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-info div {
  font-size: 17px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-description {
  position: relative;
  font-size: 20px;
  margin-top: 17px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-description i {
  color: #0066a6;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-description a {
  font-style: italic;
  text-decoration: none;
  margin-top: -17px;
  color: #0066a6 !important;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-description a:hover {
  text-decoration: underline;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-description button {
  float: right;
  bottom: 0px;
  right: 24px;
  color: white;
  font-family: Helvetica, Arial, san-serif;
  background-color: #286ba6;
  border-radius: 3px;
  border: none;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-description button i {
  color: white;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-description button:hover {
  color: #286ba6;
  background-color: white;
  border: 1px solid #286ba6;
}
.filter-doctor .body-row .doctor-area .doctor-detail .doc-description button:hover i {
  color: #286ba6;
}
.filter-doctor .body-row .doctor-area .doctor-detail .pagination {
  margin-top: 22px;
  margin-bottom: 17px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .pagination .page-number {
  margin: auto;
  font-size: 19px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .pagination a {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #0876bf;
  display: inline-block;
  padding: 5px 12px;
  text-decoration: none;
}
.filter-doctor .body-row .doctor-area .doctor-detail .departments {
  border: 1px #eee solid;
  border-radius: 4px;
  padding: 10px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .departments h3 {
  border-bottom: 1px solid #eee;
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  padding: 11px 0 9px;
  width: 100%;
}
.filter-doctor .body-row .doctor-area .doctor-detail .departments ul {
  list-style: none;
}
.filter-doctor .body-row .doctor-area .doctor-detail .departments ul li {
  margin-bottom: 9px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .departments ul a i {
  color: #999;
  float: right;
  margin-right: 13px;
  line-height: 29px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .departments ul a .dept-name {
  float: left;
  font-size: 18px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .departments ul a .dept-number {
  color: #999;
  margin-right: 9px;
  float: right;
  font-size: 18px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .departments .expand {
  border-top: 1px solid #eee;
  text-align: center;
}
.filter-doctor .body-row .doctor-area .doctor-detail .departments .expand i {
  cursor: pointer;
}
.filter-doctor .body-row .doctor-area .doctor-detail .departments .expand i:hover {
  color: #286ba6;
}
.filter-doctor .body-row .doctor-area .doctor-detail .useful-info {
  margin-top: 23px;
  border: 1px #eee solid;
  border-radius: 4px;
  padding: 10px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .useful-info h3 {
  border-bottom: 1px solid #eee;
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  padding: 11px 0 9px;
  width: 100%;
}
.filter-doctor .body-row .doctor-area .doctor-detail .useful-info ul {
  list-style: none;
}
.filter-doctor .body-row .doctor-area .doctor-detail .useful-info ul li {
  margin-top: 22px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .useful-info ul li .img-info img {
  width: 90%;
}
.filter-doctor .body-row .doctor-area .doctor-detail .useful-info ul li .info-body {
  font-size: 16px;
  line-height: 17px;
}
.filter-doctor .body-row .doctor-area .doctor-detail .useful-info .expand {
  border-top: 1px solid #eee;
  margin-top: 13px;
  text-align: center;
  color: #286ba6;
}
.filter-doctor .body-row .doctor-area .doctor-detail .useful-info .expand a {
  color: #286ba6;
  font-size: 17px;
}

.sticky-icon {
  position: fixed;
  bottom: 15px;
  left: 10px;
}
.sticky-icon .phone-icon {
  margin-left: 22px;
  background-color: #337ab7;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.sticky-icon .phone-icon .phone {
  top: 16px;
  left: 13px;
  padding: 14px;
}
.sticky-icon .message-icon {
  position: fixed;
  bottom: 15px;
  right: -666px;
}
.sticky-icon .message-icon img {
  width: 10%;
  border-radius: 50%;
}