footer {
    background-color: #f9f9f9;
}

.first-part {
    padding-top: 20px;
}
.first-part h3 {
    font-size: 19px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    text-transform: uppercase;
}
.first-part .email-subscription input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #fff;
    height: 44px;
    padding: 0 100px 0 20px;
    line-height: 130%;
}
.first-part .email-subscription .email-input {
    position: relative;
}
.first-part .email-subscription button {
    position: absolute;
    width: 97px;
    height: 36px;
    border-radius: 4px;
    border: none;
    background-color: #337ab7;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    bottom: 4px;
    right: 5px;
}
.first-part .email-subscription button:hover {
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.first-part .email-subscription .privacy-policy {
    margin-top: 5px;
    margin-bottom: 30px;
}
.first-part .email-subscription .privacy-policy span {
    font-size: 15px;
    line-height: 1.5;
}
.first-part .email-subscription .privacy-policy span a {
    color: black;
    text-decoration: none;
}
.first-part .email-subscription .privacy-policy span a:hover {
    color: black;
    text-decoration: underline;
}
.first-part .email-subscription .social h3 {
    margin-right: 30px;
    float: left;
    font-size: 21px;
    font-weight: 660;
}
.first-part .email-subscription .social .social-icon {
    float: right;
}
.first-part .email-subscription .social .social-icon img:last-child {
    margin-left: 20px;
}
.first-part .email-subscription .social .social-icon div {
    float: left;
}
.first-part .email-subscription .social .logo-outline img {
    width: 265px;
    height: 100px;
}
.first-part .about .footer-menu ul {
    list-style: none;
}
.first-part .about .footer-menu ul h3 {
    font-size: 19px;
    margin-bottom: 27px;
}
.first-part .about .footer-menu ul li {
    margin-bottom: 4px;
}
.first-part .about .footer-menu ul li a {
    font-size: 19px;
    color: black;
    text-decoration: none;
}
.first-part .download-app a {
    font-size: 19px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    width: 100%;
    font-family: Helvetica, Arial, san-serif;
}
.first-part .download-app .app-logo img {
    width: 117px;
}
.first-part .download-app .download-logo a {
    display: inline-block;
    width: 163px;
    height: 33px;
    background-color: #333;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 6px;
}
.first-part .download-app .download-logo .download-qr-code {
    width: 38%;
}
.first-part .download-app .download-logo .download-logo {
    width: 60%;
}
.first-part .download-app .public-health {
    margin-top: 20px;
}
.first-part .download-app .public-health a img:last-child {
    width: 100%;
}

hr {
    width: 78%;
    margin: auto;
    margin-top: 20px;
    opacity: 0.2;
}

.copyright {
    margin-top: 20px;
}
.copyright p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
}
.copyright .disclaimer {
    font-style: italic;
    text-align: center;
    line-height: 123%;
    border-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    max-width: 998px;
    margin-left: auto;
    margin-right: auto;
}

.vin3s {
    position: relative;
}
.vin3s:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background: linear-gradient(94.15deg, #b3a078 4.94%, #eed7ae 56.61%, #beaa82 99.46%);
}
.vin3s .about-us {
    padding-top: 20px;
}
.vin3s .contact-now {
    width: 25%;
    float: left;
}
.vin3s .contact-now a {
    color: black;
    font-size: 22px;
    text-decoration: none;
}
.vin3s .contact-now a:hover {
    text-decoration: underline;
}
.vin3s .biz-number {
    margin-left: 30px;
    width: calc(40% - 30px);
    float: left;
}
.vin3s .biz-number p {
    padding-left: 33px;
    font-family: Helvetica, Arial, san-serif;
    color: black;
    font-size: 18px;
}
.vin3s .biz-number p:first-child {
    background: url("https://www.vinmec.com/static/img/post-detail-new/icons/business-number-icon.9cb67b89b0f2.svg") no-repeat;
}
.vin3s .biz-number p:last-child {
    margin-top: -18px;
}
.vin3s .address {
    float: left;
    width: calc(34% - 30px);
    padding-left: 34px;
    margin-left: 33px;
    background: url("https://www.vinmec.com/static/img/post-detail-new/icons/geo.bff638749bd4.svg") no-repeat;
}
.vin3s .address span {
    font-size: 17px;
    font-family: Helvetica, Arial, san-serif;
}

.sticky-icon .telephone {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
}