ul {
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.language {
    background-color: #f7f7f7;
    border-bottom: #eee solid 2px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
.search-info {
    width: 62%;
}

.logo, .location, .search {
    margin-right: -23px;
    width: 20%;
    float: left;
}

ul.sub-menu {
    list-style-type: none;
    margin: 0;
    height: 20px;
    padding-top: 5px;
}

.sub-menu li {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 16px;
    position: relative;
    font-size: 13px;
    /*border-right: #ccc solid 2px;*/
}
.sub-menu li:first-child {
    padding-left: 0;
}

/*li:last-child{*/
/*    border: none;*/
/*}*/
.sub-menu li:before {
    content: "|";
    position: absolute;
    top: 2px;
    left: 0;
    color: #ccc;
}

li:first-child:before {
    content: none;
}

.middle {
    padding-top: 10px;
}

.location {
    margin-left: 20px;
}
.location select {
    width: 140px;
    padding-left: 10px;
}

.search input {
    margin-left: 15px;
    width: 420px;
}

select.check-location {
    border-color: rgb(235, 235, 235);
    border-radius: 3px;
    height: 44px;
    margin-top: 10px;
    background-color: #f5f5f5;
}

input {
    border: 1px solid #f7f7f7;
    border-radius: 3px;
    width: 290px;
    height: 44px;
    margin-top: 10px;
    background-color: #f5f5f5;
}

.two-logos {
    padding-top: 13px;
}

.logo-doctor {
    width: 48%;
    float: left;
}
.logo-doctor i {
    padding-left: 43px;
    font-size: 12px;
    font-family: Helvetica, Arial, san-serif;
}
.logo-doctorp {
    font-size: 12px;
    font-style: italic;
}
.logo-doctor:first-child span:hover {
    color: orange;
    cursor: pointer;
}
.logo-doctor:last-child {
    margin-left: 10px;
    border-left: #ccc solid 2px;
    padding-left: 19px;
}
.logo-doctor:last-child img, .logo-doctor:last-child span {
    float: right;
}
.logo-doctor:last-child:hover {
    color: blue;
    cursor: pointer;
}

.logo-doctor span {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
}

ul.menu li {
    list-style-type: none;
}

.small-items li {
    margin-top: 11px;
}

.menu li {
    font-family: Helvetica, Arial, san-serif;
    font-size: 17px;
    color: black;
    text-decoration: none;
    padding-right: 60px;
    float: left;
    position: relative;
}
.menu li:hover ul {
    display: block;
}
.menu ul {
    background-color: #f3f7fb;
    width: 100%;
    font-family: Helvetica, Arial, san-serif;
    display: none;
    position: absolute;
    min-width: 297px;
}
.menu .other {
    z-index: 1;
}
.menu .other li {
    width: 100%;
    padding-left: 10px;
}

section.bottom {
    margin-top: 5px;
    padding-top: 5px;
}