a, h3 {
    font-family: Helvetica, Arial, san-serif;
}

.banner {
    padding-bottom: 200px;
    position: relative;
}
.banner .promo-pic {
    z-index: 0;
}

.book-appointment {
    padding: 0 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.carousel-inner img, .carousel-item img {
    height: 440px;
}

.carousel-control-next {
    margin-top: 234px;
    margin-right: 1100px;
}

.carousel-control-prev {
    margin-top: 234px;
}

.container {
    padding: 0 15px;
}

.appoint-content span {
    color: red;
}

.form-info {
    z-index: 1;
    color: #286ba6;
    width: 100%;
    padding: 22px 30px 30px;
    background-color: #e9f0f6;
}
.form-info .form-name, .form-info .form-birthdate {
    margin-bottom: 22px;
}
.form-info .form-birthdate {
    position: relative;
}
.form-info .form-birthdate img {
    position: absolute;
    max-height: 18px;
    top: 47px;
    right: 115px;
}
.form-info .form-address {
    position: relative;
}
.form-info .form-address img {
    position: absolute;
    max-height: 18px;
    top: 47px;
    right: 115px;
}
.form-info .form-address select {
    height: 44px;
    width: 290px;
    margin-top: 11px;
    background-color: #fff;
    border-color: #fff;
    border-radius: 3px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}

.textarea-info textarea {
    width: 100%;
    border-radius: 3px;
    border-color: #ffffff;
    height: 110px;
    padding: 10px;
}
.textarea-info .button-info {
    height: 42px;
    border-radius: 5px;
    margin-top: -5px;
    width: 100%;
    background-color: #286ba6;
    color: white;
}

.intro {
    background: url("https://www.vinmec.com/static/build/0eb8e905e0f67726dd4117c6d3cf5e1e.jpeg") no-repeat 0 0;
    background-color: #123f6d;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}
.intro .container {
    padding-left: 8px;
    padding-right: 8px;
}
.intro p {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.31;
    color: #fff;
    margin-bottom: 24px;
    text-align: center;
}
.intro span {
    color: #e5a724;
}
.intro .number {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
}
.intro .content {
    text-align: center;
    color: #ffffff;
    font-family: Helvetica, Arial, san-serif;
    font-size: 18px;
    font-weight: 500;
}

.expert {
    padding-top: 22px;
    margin-bottom: 30px;
}
.expert h2 {
    margin-bottom: 15px;
    font-weight: 500;
    color: #286ba6;
}
.expert p {
    line-height: 121%;
}

.expert-team .carousel-inner .carousel-item {
    height: 700px;
}

.expert-member .doctor-title span {
    color: #286ba6;
    font-size: 15px;
}
.expert-member .doctor-title p {
    text-transform: uppercase;
    margin-top: 11px;
    font-weight: bold;
    font-size: 19px;
}
.expert-member .member-img img {
    height: auto;
    width: 100%;
}
.expert-member .viewmore a {
    color: #0066a6;
    opacity: 0.6;
}

.expert-des {
    background-color: rgba(40, 107, 166, 0.1);
    padding-top: 25px;
}
.expert-des p {
    float: left;
    max-width: 810px;
    color: #292940;
    font-size: 20px;
    font-family: Helvetica, Arial, san-serif;
    line-height: 27px;
}
.expert-des button {
    background-color: #286ba6;
    width: 242px;
    height: 52px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    font-family: Helvetica, Arial, san-serif;
    float: right;
    margin-top: 5px;
}

.service {
    margin-bottom: 15px;
}
.service .header-intro h2 {
    float: left;
    font-weight: 500;
    color: #286ba6;
    margin-bottom: 20px;
}
.service .view-all {
    float: right;
    padding-top: 15px;
    text-align: right;
}
.service .view-all img {
    margin-left: 15px;
}
.service .first-line {
    margin-bottom: 10px;
}
.service .left-side .post-pic img {
    width: 100%;
    overflow: hidden;
}
.service .left-side .doctor img {
    height: 424px;
}
.service .left-side .button-detail {
    width: 186px;
    height: 42px;
    border-radius: 26.5px;
    background-color: #f6bc2c;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-right: 66px;
    line-height: 42px;
    text-align: right;
    position: relative;
}
.service .left-side .button-detail:after {
    position: absolute;
    content: "|";
    color: white;
    right: 53px;
}
.service .left-side .button-detail img {
    position: absolute;
    top: 14px;
    right: 26px;
}
.service .left-side .button-detail a {
    text-decoration: none;
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    font-family: Helvetica, Arial, san-serif;
}
.service .left-side .button-detail a:hover {
    text-decoration: underline;
}
.service .post-pic2 {
    position: relative;
    overflow: hidden;
    height: 330px;
}
.service .post-pic2 img {
    width: 100%;
    height: 100%;
}
.service .post-pic2 .post-title {
    position: absolute;
    bottom: 15px;
    color: white;
}
.service .right-side {
    position: relative;
}
.service .right-side .pic-frame {
    height: 100%;
    min-height: 260px;
    display: block;
    width: 100%;
    overflow: hidden;
}
.service .right-side img {
    height: 100%;
    width: auto;
    margin: auto;
    top: 0;
    -webkit-transform: unset;
    transform: unset;
    left: 0;
}
.service .right-side .service-name {
    position: absolute;
    bottom: 137px;
    font-size: 18px;
    font-weight: 450;
    line-height: 1.25;
    left: 32px;
    width: calc(100% - 64px);
}
.service .right-side .service-name h4 {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 14px;
}
.service .right-side .service-name a {
    color: white;
}
.service .right-side .service-name .intro-inside {
    position: absolute;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    top: 77px;
    margin-bottom: 0px;
}
.service .second-line .post-content .post-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    font-weight: 700;
    color: #292940;
    margin-bottom: 14px;
}
.service .second-line .post-content .post-intro {
    font-size: 18px;
    font-family: Helvetica, Arial, san-serif;
    line-height: 1.5;
    color: #292940;
    margin-bottom: 32px;
}
.service .second-line .post-content .button-detail {
    width: 186px;
    height: 42px;
    border-radius: 26.5px;
    background-color: #f6bc2c;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-right: 72px;
    line-height: 42px;
    text-align: right;
    position: relative;
    text-transform: uppercase;
}
.service .second-line .post-content .button-detail:after {
    position: absolute;
    content: "|";
    color: white;
    right: 53px;
}
.service .second-line .post-content .button-detail img {
    position: absolute;
    top: 13px;
    right: 24px;
}
.service .second-line .post2 img {
    width: 100%;
}
.service .second-line .img-inside {
    position: relative;
    height: 275px;
}
.service .second-line .img-inside .post3 img {
    margin-bottom: 0;
    height: 100%;
}
.service .second-line .img-inside .post-title {
    position: absolute;
    bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #fff;
    left: 24px;
}
.service .second-line .img-inside .post-title a {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.equipment {
    background-color: rgba(51, 122, 183, 0.06);
    padding-top: 30px;
    padding-bottom: 30px;
}
.equipment .equip-title h2 {
    color: #286ba6;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: Helvetica, Arial, san-serif;
    font-size: 36px;
}
.equipment .equip-title p {
    font-family: Helvetica, Arial, san-serif;
    opacity: 0.7;
    font-size: 18px;
    line-height: 1.5;
    color: #292940;
    margin-bottom: 32px;
}
.equipment .equip-title .button-detail {
    width: 186px;
    height: 42px;
    border-radius: 26.5px;
    background-color: #f6bc2c;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-right: 72px;
    line-height: 42px;
    text-align: right;
    position: relative;
    text-transform: uppercase;
}
.equipment .equip-title .button-detail:after {
    position: absolute;
    content: "|";
    color: white;
    right: 50px;
}
.equipment .equip-title img {
    position: absolute;
    top: 15px;
    right: 21px;
}
.equipment .list-room h5 {
    font-family: Helvetica, Arial, san-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: #292940;
    margin-bottom: 9px;
}
.equipment .list-room ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 19px;
    padding-right: 25px;
    font-family: Helvetica, Arial, san-serif;
    font-size: 18px;
    opacity: 0.7;
}
.equipment .equip-pic {
    position: relative;
    overflow: hidden;
}
.equipment .equip-pic img {
    width: calc((90vw - 100%) / 2);
    max-width: 649px;
    max-height: 540px;
    left: 0;
    top: 0;
    position: absolute;
}

.block-wards {
    padding-top: 30px;
    padding-bottom: 30px;
}
.block-wards .ward-title {
    font-family: Helvetica, Arial, san-serif;
    font-size: 33px;
    color: #286ba6;
    font-weight: 500;
    margin-bottom: 20px;
}
.block-wards p {
    opacity: 0.7;
    font-size: 18px;
    line-height: 1.5;
    color: #292940;
    margin-bottom: 40px;
    font-family: Helvetica, Arial, san-serif;
}
.block-wards .ward-name .owl-item img {
    border-radius: 13px;
}
.block-wards .ward-name .owl-carousel .item {
    position: relative;
}
.block-wards .ward-name .owl-carousel p {
    position: absolute;
    bottom: -15px;
    width: calc(100% - 30px);
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    left: 15px;
    font-family: Helvetica, Arial, san-serif;
}
.block-wards .ward-name .owl-dots button span {
    cursor: pointer;
    width: 40px;
    height: 7px;
}

.block-news {
    padding-top: 30px;
    padding-bottom: 30px;
}
.block-news h2 {
    font-family: Helvetica, Arial, san-serif;
    color: #286ba6;
    font-size: 32px;
    font-weight: 500;
    float: left;
}
.block-news a {
    float: right;
    text-transform: uppercase;
}
.block-news a:hover {
    text-decoration: underline;
    color: black;
}

.my-vinmec {
    margin-top: 30px;
    background: #329d96 url("https://www.vinmec.com/static/build/442b8b99de847e7b80d1225cca77c61f.png") no-repeat 50%;
    padding-top: 30px;
}
.my-vinmec .left-side .banner-intro {
    opacity: 0.6;
    font-size: 18px;
    font-family: Helvetica, Arial, san-serif;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0.5px;
    color: #fff;
    margin-bottom: 15px;
}
.my-vinmec .left-side .banner-title {
    font-size: 51px;
    color: #ffffff;
    font-family: Helvetica, Arial, san-serif;
    font-weight: 500;
    margin-bottom: 14px;
}
.my-vinmec .left-side p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 32px;
}
.my-vinmec .left-side .download-code a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 35%;
    padding-left: 11px;
    padding-right: 11px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-radius: 4px;
    margin-right: 12px;
    color: #2d8b86;
    font-size: 14px;
}
.my-vinmec .left-side .download-code a:first-child {
    float: left;
}
.my-vinmec .left-side .download-code a:last-child {
    float: right;
    margin-right: 22px;
}
.my-vinmec .left-side .download-code a span {
    font-size: 14px;
    color: #2d8b86;
    font-weight: 700;
}
.my-vinmec .left-side .download-code a img {
    margin-top: 12px;
    margin-left: -20px;
    width: 16px;
    height: 16px;
}
.my-vinmec .left-side .download-code .qr-code p {
    font-size: 24px;
    color: #fff;
    margin-bottom: 32px;
    width: 100%;
    padding-top: 32px;
}
.my-vinmec .left-side .download-code .qr-code img {
    width: 78px;
    height: 78px;
    border-radius: 13px;
}
.my-vinmec .left-side .download-code .qr-code .code1 {
    float: left;
}
.my-vinmec .left-side .download-code .qr-code .code2 {
    float: right;
    margin-right: 463px;
}

.contact {
    padding: 25px;
    background-color: #286ba6;
}
.contact .content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}
.contact p {
    margin: 0 26px 0 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    float: left;
}
.contact a {
    width: 170px;
    height: 40px;
    padding: 0 17px 0 16px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    color: #292940;
    display: inline-block;
    position: relative;
    line-height: 40px;
    float: left;
}
.contact a:before {
    content: "";
    position: absolute;
    right: 9px;
    background: url("https://www.vinmec.com/static/build/fade3ac79e858d6761b52c4c2f606c66.svg") no-repeat 50%;
    background-size: contain;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    width: 20px;
    height: 20px;
    z-index: 2;
}

.sticky-icon {
    position: fixed;
    bottom: 15px;
    left: 10px;
}
.sticky-icon .phone-icon {
    margin-left: 22px;
    background-color: #337ab7;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.sticky-icon .phone-icon .phone {
    top: 16px;
    left: 13px;
    padding: 14px;
}
.sticky-icon .message-icon {
    position: fixed;
    bottom: 15px;
    right: -666px;
}
.sticky-icon .message-icon img {
    width: 10%;
    border-radius: 50%;
}